   body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-image: linear-gradient(#cc0000,#b30000,#990000);
  }

  .header {
    overflow: auto;
    font-size: 24pt;
    color: yellow;
    border-style: inset;
    border-width: 5px;
    border-color: yellow;
    background-image: linear-gradient(#990000,#ff0000,#ff1a1a);
    text-align: center;
  }
  
  .header img {
    vertical-align: middle;
    width: 200px;
    height: 200px;
  }

  .content {
    overflow: auto;
    padding: 25px;
    color: yellow;
    font-size: 20px;
    background-image: linear-gradient(#ff1a1a,#cc0000,#b30000,#990000);
    border-style: none double double double;
    border-color: yellow;
  }
  
  .content h1 {
    text-align: center;
  }
  
  .content hr {
    border: 5px solid yellow;
    border-radius: 10px;
  }

  .footer {
    border-style: none double double double;
    border-color: yellow;
    overflow: auto;
    height: 100px;
    color: yellow;
    background-image: linear-gradient(#990000,#b30000,#ff0000);
    text-align: center;
  }

  ::-webkit-scrollbar {
    width: 10px;
  }
  
  ::-webkit-scrollbar-track {
    background: #f1f1f1; 
  }
   
  ::-webkit-scrollbar-thumb {
    background: #888; 
  }
  
  ::-webkit-scrollbar-thumb:hover {
    background: #555; 
  }